<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
    <ion-title>Agendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="send(f)">
    <ion-item>
      <ion-label position="start">Data e Hora</ion-label>
    </ion-item>

    <ion-item class="t">
      <!-- <ion-datetime   presentation="time"  ></ion-datetime> -->
      <ion-datetime
        presentation="date-time"
        ngModel="hora"
        name="hora"
        [preferWheel]="true"
      ></ion-datetime>
    </ion-item>

    <ion-button fill="outline" expand="block" type="submit">Agendar</ion-button>
  </form>
</ion-content>
