<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    <ion-title>Localização</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  scroll="true" overflow-scroll="true" class="iframe-wrapper">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.629197090335!2d-43.43591112399749!3d-22.704843579397643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9968ed2175ba29%3A0x1693c25c9c949649!2sCasa%20do%20Menor%20S%C3%A3o%20Miguel%20Arcanjo!5e0!3m2!1spt-BR!2sbr!4v1697637842893!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>
