<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    <ion-title>Localização</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  scroll="true" overflow-scroll="true" class="iframe-wrapper">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.1167384383857!2d-43.4508922239964!3d-22.761048579357787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x996701115c96bd%3A0x14c0d251ec1f571f!2sInstituto%20Embelleze%20Nova%20Igua%C3%A7u!5e0!3m2!1spt-BR!2sbr!4v1697637203155!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>

