<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll="true" overflow-scroll="true" class="iframe-wrapper">
<br>
  <ion-toolbar>
    <ion-title>
      Beleza
    </ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Senac</ion-card-title>

      <!-- <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="Please enter your info"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert> -->
      
    </ion-card-header>
  
    <ion-card-content>
    Conheça nossos serviços de Beleza Feminina agendando um horário conosco.    
    <div>
      <ion-button color="success" (click)="navPag()" ><ion-icon name="location-sharp"></ion-icon>Local</ion-button>
      <ion-button id="present-alert" (click)="alertPrompt()">Agendar</ion-button>
    </div>
    </ion-card-content>
 
 
  </ion-card>


 
    <ion-card>
      <ion-card-header>
        <ion-card-title>Intituto Embelleze</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        Conheça nossos serviços de Beleza Feminina agendando um horário conosco.    
        <div>
          <ion-button color="success"><ion-icon name="location-sharp"></ion-icon>Local</ion-button>
          <ion-button>Agendar</ion-button>
        </div>
        </ion-card-content>
    </ion-card>

    
      <ion-card>
        <ion-card-header>
          <ion-card-title>Casa do Menor S.M.A</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Conheça nossos serviços de Beleza Feminina agendando um horário conosco.    
          <div>
            <ion-button color="success"><ion-icon name="location-sharp"></ion-icon>Local</ion-button>
            <ion-button>Agendar</ion-button>
          </div>
          </ion-card-content>
      </ion-card>

      <ion-toolbar>
        <ion-title>
          Barbeiro
        </ion-title>
      </ion-toolbar>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Senac</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Conheça nossos serviços de Barbearia agendando um horário conosco.    
          <div>
            <ion-button color="success"><ion-icon name="location-sharp"></ion-icon>Local</ion-button>
            <ion-button>Agendar</ion-button>
          </div>
          </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Casa do Menor S.M.A</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Conheça nossos serviços de Barbearia agendando um horário conosco.    
          <div>
            <ion-button color="success"><ion-icon name="location-sharp"></ion-icon>Local</ion-button>
            <ion-button>Agendar</ion-button>
          </div>
          </ion-card-content>
      </ion-card>

      <ion-toolbar>
        <ion-title>
          Bem-Estar
        </ion-title>
      </ion-toolbar>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Senac</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Conheça nossos serviços de Massoterapia agendando um horário conosco.    
          <div>
            <ion-button color="success"><ion-icon name="location-sharp"></ion-icon>Local</ion-button>
            <ion-button>Agendar</ion-button>
          </div>
          </ion-card-content>
      </ion-card>



      
</ion-content>
