<ion-header [translucent]="true">
 
 
 
  <ion-toolbar>
    <ion-title class="t">
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll="true" overflow-scroll="true" class="iframe-wrapper">
  <br>
  <ion-toolbar>
    <ion-title class="t">
      Beleza
    </ion-title>
  </ion-toolbar>


 
 
 

  <ion-card class="card1">
   
    <ion-card-header>
      <ion-card-title class="titulo"><img src="assets/senac-logo.png" alt="" width="80px"></ion-card-title>

     

    </ion-card-header>
    <div class="content">
    <h1 class="text"><b>Conheça nossos serviços de Beleza Feminina agendando um horário .</b></h1>
    <h2 class="text">Unidade Nova Iguaçu</h2>
    </div>

    <ion-card-content>
 

     
      <div>
       
        <ion-button color="success" (click)="navPag()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>
      </div>
     
    </ion-card-content> 


  </ion-card>



  <ion-card class="card2">
    <ion-card-header>
      <ion-card-title class="titulo"><img src="assets/logo_embelleze.avif" alt="" width="155px"></ion-card-title>

    </ion-card-header>
    <div class="content">
    <h1 class="text"><b>Conheça nossos serviços de Beleza Feminina agendando um horário conosco.</b></h1>
    <h2 class="text">Unidade Nova Iguaçu</h2>
  </div>
    <ion-card-content>
      <div>
        <ion-button color="success" (click)="navPag3()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>



  <ion-card class="card3">
    <ion-card-header>
      <ion-card-title class="titulo"><img src="assets/logo_casamenor2.png" alt="" width="155px"></ion-card-title>

    </ion-card-header>
    <div class="content">
    <h1 class="text"><b>Conheça nossos serviços de Beleza Feminina agendando um horário conosco.</b></h1>
    <h2 class="text">Unidade Miguel colto</h2>
  </div>
    <ion-card-content>

    
      <div>
        <ion-button color="success" (click)="navPag2()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-title class="t">
      Barbeiro
    </ion-title>
  </ion-toolbar>

  <ion-card class="card4">
    <ion-card-header>
      <ion-card-title class="titulo"><img src="assets/senac-logo.png" alt="" width="80px"></ion-card-title>
    </ion-card-header>
    <div class="content">
    <h1 class="text"><b>Conheça nossos serviços de Barbearia agendando um horário conosco.</b></h1>
    <h2 class="text">Unidade Nova Iguaçu</h2>
  </div>
    <ion-card-content>

      
 
      <div>
        <ion-button color="success" (click)="navPag()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>

        <ion-button (click)="Agendarbarb()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

 



 
  <ion-card class="card5">
    <ion-card-header>
      <ion-card-title class="titulo"><img src="assets/logo_casamenor2.png" alt="" width="155px"></ion-card-title>

    </ion-card-header>
 



    
    
    <div class="content">
    <h1 class="text"><b>Conheça nossos serviços de Barbearia agendando um horário conosco.</b></h1>
    <h2 class="text">Unidade Miguel couto</h2>
  </div>
    <ion-card-content>
      
 
      <div>
        <ion-button color="success" (click)="navPag2()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendarbarb()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-title class="t">
      Bem-Estar
    </ion-title>
  </ion-toolbar>

  <ion-card class="card6">
    <ion-card-header>
      <ion-card-title class="titulo"><img src="assets/senac-logo.png" alt="" width="80px"></ion-card-title>

    </ion-card-header>
    <div class="content">
    <h1 class="text"><b>Conheça nossos serviços de Massoterapia agendando um horário conosco.</b></h1>
    <h2 class="text">Unidade Nova Iguaçu</h2>
  </div>
    <ion-card-content>
 

     
 
      <div>
        <ion-button color="success" (click)="navPag()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>




