<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll="true" overflow-scroll="true" class="iframe-wrapper">
  <br>
  <ion-toolbar>
    <ion-title>
      Beleza
    </ion-title>
  </ion-toolbar>
  <ion-card class="card1">
    <ion-card-header>
      <ion-card-title>Senac</ion-card-title>

      <!-- <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="Please enter your info"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert> -->

    </ion-card-header>

    <ion-card-content>
      Conheça nossos serviços de Beleza Feminina agendando um horário conosco.
      <div>
       
        <ion-button color="success" (click)="navPag()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>

        <!-- <ion-button id="open-modal">Agendar</ion-button>
         <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Modal</ion-title>
                
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <form >
                <ion-item>
                  <ion-label position="floating">Nome</ion-label>
                  <ion-input  name="nome" required="required"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input  name="email" type="email" required="required"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Celular</ion-label>
                  <ion-input name="celular" type="number" required="required"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Idade</ion-label>
                  <ion-input  name="idade" type="number" required="required"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Data</ion-label>
                  <ion-input  name="nivel" required="required"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Horário</ion-label>
                  <ion-input  name="nivel" required="required"></ion-input>
                </ion-item>
                <ion-item>
                <ion-checkbox>Manter minhas informações salvas</ion-checkbox>
              </ion-item>
                <ion-button (click)="modal.dismiss()" fill="outline" expand="block" type="submit">Agendar</ion-button>
            
            
            
              </form>
            </ion-content>
          </ng-template>
        </ion-modal> -->

      </div>
    </ion-card-content> 


  </ion-card>



  <ion-card class="card2">
    <ion-card-header>
      <ion-card-title>Intituto Embelleze</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Conheça nossos serviços de Beleza Feminina agendando um horário conosco.
      <div>
        <ion-button color="success" (click)="navPag3()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card class="card3">
    <ion-card-header>
      <ion-card-title>Casa do Menor S.M.A</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Conheça nossos serviços de Beleza Feminina agendando um horário conosco.
      <div>
        <ion-button color="success" (click)="navPag2()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-title>
      Barbeiro
    </ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Senac</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Conheça nossos serviços de Barbearia agendando um horário conosco.
      <div>
        <ion-button color="success" (click)="navPag()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>

        <ion-button (click)="Agendarbarb()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Casa do Menor S.M.A</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Conheça nossos serviços de Barbearia agendando um horário conosco.
      <div>
        <ion-button color="success" (click)="navPag2()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendarbarb()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-title>
      Bem-Estar
    </ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Senac</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Conheça nossos serviços de Massoterapia agendando um horário conosco.
      <div>
        <ion-button color="success" (click)="navPag()">
          <ion-icon name="location-sharp"></ion-icon>Local
        </ion-button>
        <ion-button (click)="Agendar()">Agendar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>




</ion-content>