* {
    margin: 2px;
    padding: 2px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;

}



#img1{
    border-radius: 10px;
    height:400px;
}
#card1{
   

}