<ion-header [translucent]="true">
  
</ion-header>

<ion-content>
  <div class="div">
    <ion-card >

    <div id="card2">
    <ion-card-header>
      <ion-card-title ><h1><img src="assets/model22.png" alt="" width="250px"></h1> </ion-card-title>
    </ion-card-header>
  </div>
  
  
  </ion-card>
  <ion-row>
    
   <ion-col>
     <ion-card id="card1">
      <h3></h3>
      <h2></h2>
       <div class="ion-text-center">
         <img src="assets/barb.jpg" alt="" id="img1">
         <h3>Barbearia</h3>
         <ion-button >Saiba Mais</ion-button>

        
       </div>
       <h2></h2>
       <h3></h3>
     </ion-card>
   </ion-col>
 
   <ion-col>
  
     <ion-card id="card1" >
      <h2></h2>
      <h3></h3>
       <div class="ion-text-center">
         <img src="assets/mulher.jpg" alt="" id="img1">
         <h3>Beleza</h3>
         <ion-button >Saiba Mais</ion-button>

         <h3></h3>
         <h2></h2>
       </div>
       
     </ion-card>
   </ion-col>

  </ion-row>
  <ion-toolbar color="dark">
  <ion-title color="dark"><div class="fundo"><h2><b>Empresa Parceiras</b></h2></div></ion-title>
</ion-toolbar>


  <ion-card class="div" >
    <ion-grid class="div2" >
      <div id="card3">
      <ion-row >
        <ion-col push-sm="6" class="col" ><img src="assets/senac-logo.png" alt="" width="100px">
        <br>
        </ion-col>
        <ion-col push-sm="6" class="col"><img src="assets/logo_casamenor2.png" alt="" width="130px"></ion-col>
        <br>
      </ion-row>
      <ion-row>
        <ion-col push-sm="12" class="col"><img src="assets/logo_embelleze.avif" alt="" width="150px"></ion-col>
      </ion-row>
    </div>
     
    </ion-grid>
    
  </ion-card>


    
</div>





 
 


