<ion-header [translucent]="true">
  
</ion-header>

<ion-content class="card-background-page "  >
  <!-- <ion-card>
   <img src="assets/.png" alt="">
   
    <div class="card-title"></div>
   <div class="card-subtitle"></div>
  </ion-card>
  -->
  <ion-card class="card1">
    <div>
    <ion-card-header>
      <ion-card-title ><h1><img src="assets/model22.png" alt=""></h1> </ion-card-title>
    </ion-card-header>
  </div>
  
  
  </ion-card>
  <ion-row>
    
   <ion-col>
     <ion-card id="card1">
      <h3></h3>
      <h2></h2>
       <div class="ion-text-center">
         <img src="assets/Barbearia.png" alt="" id="img1">
         <h3>Barbearia</h3>
         <ion-button>Saiba Mais</ion-button>
       </div>
       <h2></h2>
       <h3></h3>
     </ion-card>
   </ion-col>
 
   <ion-col>
  
     <ion-card id="card1" >
      <h2></h2>
      <h3></h3>
       <div class="ion-text-center">
         <img src="assets/mulher.jpg" alt="" id="img1">
         <h3>Beleza</h3>
         <ion-button>Saiba Mais</ion-button>
         <h3></h3>
         <h2></h2>
       </div>
       
     </ion-card>
   </ion-col>
  </ion-row>
  <ion-item><h2><b>Empresa Parceiras</b></h2></ion-item>
  <ion-card id="card2">
    <ion-grid [fixed]="true">
      <ion-row size="12">
        <ion-col size="12"><div><img src="assets/logo_embelleze.avif" alt="" width="100px"></div>
        <br>
        <div><img src="assets/logo_casamenor.png" alt="" width="100px"></div></ion-col>
        <br>
      </ion-row>
      <ion-row>
        <ion-col ><div><img src="assets/senac-logo.png" alt="" width="80px"></div></ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>

 

  
 
 
 
 </ion-content>
 