<ion-header [translucent]="true">
 
 
 
  <ion-toolbar>
    <ion-title class="t">
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<br><br>
<ion-content color="dark">
  
    <ion-button expand="block" (click)="Agendamen()">Agendamentos</ion-button>
    <ion-button expand="block" (click)="Novocu()">Novos Cursos</ion-button>
    <ion-button expand="block" (click)="Cancel()">Cancelamentos</ion-button>
    <ion-button expand="block" (click)="Lembre()">Lembretes</ion-button>
    <!-- <ion-button expand="block" (click)="openSecondMenu()">Open Second Menu</ion-button>
    <ion-button expand="block" (click)="openEndMenu()">Open End Menu</ion-button> -->
  
  </ion-content>