<ion-content >
<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-title class="t">
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-list [inset]="true">
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Elias</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
    <ion-label>1 Agendamento</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
    <ion-label>21 989551122</ion-label>
  </ion-item>
  
  </ion-list>



<br><br>

  <ion-list [inset]="true">
    <ion-button expand="block" (click)="Agendamen()">Agendamentos</ion-button>
    <ion-button expand="block" (click)="Novocu()">Novos Cursos</ion-button>
    <ion-button expand="block" (click)="Cancel()">Cancelamentos</ion-button>
    <ion-button expand="block" (click)="Lembre()">Lembretes</ion-button>
    <!-- <ion-button expand="block" (click)="openSecondMenu()">Open Second Menu</ion-button>
    <ion-button expand="block" (click)="openEndMenu()">Open End Menu</ion-button> -->
  </ion-list>
 
<br><br>
  

  <ion-button>Login</ion-button> <ion-button>Sair</ion-button>
  </ion-content>