.date{ 
    border-radius: 15px 10px 15px 10px ;
}

.t{
    align-items: center;
    text-align: center;
    
}

   

.btn{
   color: white; 
  
   justify-content: center; /* Centraliza horizontalmente */
   align-items: center; /* Centraliza verticalmente */     

}
btn:hover{
color: blue;
}