<ion-header [translucent]="true">
  <ion-toolbar color="dark">
 

    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
 
    <ion-title>Agendar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <form>
  
    <ion-item>
     
     
      <ion-label position="floating">Nome</ion-label>
      <ion-input  name="nome"></ion-input>
    
    
    
    
    </ion-item>
    <ion-item>
   
   
   
      <ion-label position="floating">E-mail</ion-label>
      <ion-input  name="email"></ion-input>
  
  
    </ion-item>
    <ion-item>
  
  
  
      <ion-label position="floating">Telefone</ion-label>


      <ion-input  name="cpf" ></ion-input>

      
      
        </ion-item>
   
        <br>

    <br>

    <ion-list>
      <ion-item>
        <ion-select placeholder="Select a Fruit">
          <div slot="label">Selecione o serviço <ion-text ></ion-text></div>
          <ion-select-option value="apple">Cabeleireiro</ion-select-option>
          <ion-select-option value="banana">Maquiagem</ion-select-option>
          <ion-select-option value="orange">Limpeza de pele</ion-select-option>
          <ion-select-option value="orange">Desing de Sobrancelhas</ion-select-option>
          <ion-select-option value="orange">Depilação</ion-select-option>
        </ion-select>

      </ion-item>

    </ion-list>


 

   
 

 <ion-item class="t">
  <ion-label position="floating">Data e Hora</ion-label>

  <ion-datetime locale="pt-BR" minuteValues="0,15,30,45" dayValues="3,5,6,8,10,12,13,16,18,19,22,24,25,27,28" [isDateEnabled]="isWeekday" >
      <span slot="title"></span>
    </ion-datetime>
  </ion-item>
  <br>

    <ion-button color="dark"  class="btn"  expand="block" type="submit" (click)="presentAlert()">Agendar</ion-button>

  </form>
</ion-content>
