<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    <ion-title>Localização</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  scroll="true" overflow-scroll="true" class="iframe-wrapper">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.263322282285!2d-43.45324822395877!3d-22.75560707936187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9967a99225f96f%3A0xec20bfc8ff090b46!2sSenac%20Nova%20Igua%C3%A7u!5e0!3m2!1spt-BR!2sbr!4v1696861261625!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>

<!-- <ion-content  scroll="true" overflow-scroll="true" class="iframe-wrapper">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.263322282285!2d-43.45324822395877!3d-22.75560707936187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9967a99225f96f%3A0xec20bfc8ff090b46!2sSenac%20Nova%20Igua%C3%A7u!5e0!3m2!1spt-BR!2sbr!4v1696861261625!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content> -->